# Firebase Public Configuration
VITE_FIREBASE_API_KEY=AIzaSyCXP660HMMAiJ-ASC4hmsXKTKHFIn9oRb4
VITE_FIREBASE_AUTH_DOMAIN=readable-app-4d7f5.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=readable-app-4d7f5
VITE_FIREBASE_STORAGE_BUCKET=readable-app-4d7f5.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=402229559463
VITE_FIREBASE_APP_ID=1:402229559463:web:593907f83ca5f546d45b82
VITE_FIREBASE_MEASUREMENT_ID=G-RP2Y2YL53N
